{% extends 'base2.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">{% endblock %}
{% block content %}    
<div class="pt-5 pb-5"></div>
 <section class="landing pt-5 pb-5">
    <div class="landing-text">
      <h1>Customizable Clothing Store</h1>
                
      <p class="p2">
       We provide the best platform to design clothes and get them delivered in your doorsteps.<br>
                    You can also choose from already available designs and customize them.
      </p>
        <button class=" btn-name btn btn-outline-light p-3 ">Get Started</button>
    </div>
    </div>
    <div class="landing-image">
      <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/illustration-working.svg" alt="Working Illustration" />
    </div>
  </section>
<div class="pb-5 pt-5"></div>
<div class="pb-5"></div>

<section class="course pt-5 pb-5">
            <h1>Our features</h1>
            <p>You can be sure of these things in our products.</p>
            <div class="row pl-5 pr-5">
                <div class="course-col pl-5">
                   <img src="{% static 'images/quality.png' %}">
                    <h3 class="text-light">Quality</h3>
                    <p class="text-light">We provide the best in class materials for the clothes at the most affordable price.
                    </p>
                </div>
                <div class="course-col">
                <img src="{% static 'images/customsize.png' %}">
                    <h3 class="text-light">Custom Size</h3>
                    <p class="text-light">People can make clothes of custom size no matter thier size we will make it.
                    </p>
                </div>
                <div class="course-col">
                <img src="{% static 'images/bestprice.png' %}">  
                    <h3 class="text-light">Best Price</h3>
                    <p class="text-light">Our prices are just unmatched for other website regarding the products and service.
                    </p>
                </div>
            </div>

         </section>

      
<div class="container campus">
             <h1 class="text-light"> Our Products </h1>
            <p class="text-light">We offer these products.</p>

        <div class="grid">
            <div class="card">
                <div class="card_img">
                    <img src="{% static 'images/ss1.jfif' %}">
                </div>
                <div class="card_body">
                    <h2 class="card_title">Sweatshirt</h2>
                    
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="{% static 'images/hs1.jfif' %}">
                </div>
                <div class="card_body">
                    <h2 class="card_title">shirt</h2>

                </div>
            </div>
            <div class="card">
                <div class="card_img">
                  <img src="{% static 'images/ts1.jfif' %}">
                </div>
                <div class="card_body">
                    <h2 class="card_title">T-shirt</h2>

                    
                </div>
            </div>
        </div>
    </div>
        

         <!-----------Facilities------>

         <section class="facilities text-light">
         
            <div class="content-103">
	<div class="container">
    <div class="section-head col-sm-12">
          <h4><span>Why</span> EasyBuy ?</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's<br>standard dummy text ever since the 1500s, when an unknown book.</p>
        </div>
		<div class="row">
			
			<div class="col-md-3 col-sm-3">
				<div class="service-post">
					<div class="service-content">
						<div>
                        <div class="circle-1">

					<img src="{% static 'images/de1.jfif' %}">
                    </div>
		
						</div>
						<!-- service-icon -->
						<h3 class="service-title">Fast Delivery</h3>
						<p class="service-description">Seitan brunch meh, food truck Wes Anderson quinoa XOXO readymade gastropub gluten-free heirloom wolf skateboard.</p>
					</div>
					<!-- service-content -->
					<div class="service-hover"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="service-post">
					<div class="service-content">
						<div class="service-icon">
                         <div class="circle-1">
							<img src="{% static 'images/qu1.jfif' %}">
						</div>
						</div>
						<!-- .s-icon -->
						<h3 class="service-title">Best Quality</h3>
						<p class="service-description">Seitan brunch meh, food truck Wes Anderson quinoa XOXO readymade gastropub gluten-free heirloom wolf skateboard.</p>
					</div>
					<!-- service-content -->
					<div class="service-hover"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="service-post">
					<div class="service-content">
						<div class="service-icon">
                        <div class="circle-1">
							 <img src="{% static 'images/bs1.jfif' %}">
						</div>
						</div>
						<!-- .s-icon -->
						<h3 class="service-title">Best Prices</h3>
						<p class="service-description">Seitan brunch meh, food truck Wes Anderson quinoa XOXO readymade gastropub gluten-free heirloom wolf skateboard.</p>
					</div>
					<!-- service-content -->
					<div class="service-hover"></div>
				</div>
			</div>
		</div>
	</div>
</div>
            
         </section>


         

        <section class="testimonials pb-5">
            <h1 class="text-light">What our Customers say.</h1>
            <p class="text-light pb-2" >Here is what some of our customers have to say about our services.</p>
            <div class="row">
                <div class="testimonials-col">
                    <img src="{% static 'images/user1.jpg' %}">
                    <div>
                        <p>This webiste is very reliable and It has never dissappinted me. Its quatily is one of the best in the market.
                        </p>
                        <h3>Christine Berkley</h3>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    
                </div>
                <div class="testimonials-col">
                    <img src="{% static 'images/user2.jpg' %}">
                    <div>
                        <p>The clothes customizing feature is amazing. The products are exactly as designed and of good quality.
                        </p><br>
                        <h3>Bella Jackson</h3>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                      
                    </div>
                </div>
            </div>
        </section> 

           	<div class="section">
		<div class="container2">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Welcome to EasyBuy, your number one source for Fashion outfits. 
						We're dedicated to providing you the best of outfits, with a focus on dependability,
						customer service, and customer satisfaction. We're working to turn our passion for your complete fashion wear into a booming online store.
						We hope you enjoy our products as much as we enjoy offering them to you.
															 
						 Sincerely,
						
						 Esibuy</p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
				
			</div>
			<div class="image-section">
				<img src= "{% static 'images/online-shopping.png' %}">
			</div>
		</div>
	</div>
    
        <section class="footer">
            <p> Made with <i class="fa fa-heart-o"></i> By Team_F</p>
        </section>


      
        <script>
            var navLinks = document.getElementById("navLinks");

            function showMenu(){
                navLinks.style.right = '0px';
            }
            function hideMenu(){
                navLinks.style.right = '-200px';
            }
        </script>

    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/62a9fcebb0d10b6f3e7785f8/1g5k07unt';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>

{% endblock content %}


{% block section %}

{% endblock section %}