{% extends 'admin/admindashboard.html' %}

{% block content %}

{% load static %}

<style>
    table thead tr th{
        font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 700;
    }
    table thead tr td{
        font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    }
</style>

<div class="activity">
    <div class="title">
        <i class="fas fa-blog me-2">    </i>
        <span class="text">Comments</span>
    </div>

    <table class="table table-hover" id="dev-table">
        <!-- <thead>
            <tr>
                <th>Comment</th>
            </tr>
        </thead> -->
        {% for c in comment %}
        <tr>
            <td> {{c.c_name}}</td>
            <td>{{c.c_email}}</td>
            <td>{{c.c_message}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>


{%endblock content%}